langchain
langchain-google-genai
google-auth
google-ads
google-auth-oauthlib
python-dotenv
umap-learn
pandas
scikit-learn
openai
fastapi
uvicorn
matplotlib
python-multipart
sentence-transformers
langchain-openai
streamlit
spacy
# python -m spacy download en_core_web_lg
python-docx
pypandoc
boto3
#pywin32
sqlalchemy
bcrypt==4.0.1
passlib[bcrypt]
python-jose
python-multipart
pydantic[email]
emoji
authlib
itsdangerous
psycopg2-binary

google-api-python-client 
httplib2
oauth2client
pycountry

